<!DOCTYPE html>
<html lang="en">
    <head>
        <title>app_teste</title>
        
        <p>Bem vindo ao <h1><a href="/"><em><strong>petitito</strong>_app</em>!</a></h1></p>
        <p>Aqui voce pode escolher a raca do seu caozinho de acodo com as caracteristicas que mais preferir.</p>
        <figure>
                <img/>
        </figure>        
    </head>

    <body>
        <style>
            .dropdown-content {
              display: none;
              position: absolute;
              background-color: #f6f6f6;
              overflow: auto;
              border: 1px solid #ddd;
              z-index: 1;
            }
            
            .dropdown-content a {
              color: black;
              font-size: small;
              text-decoration: none;
              display: block;
            }
            
            .dropdown a:hover {background-color: #ddd;}
            
            .show {display: block;}
        </style>

        <script>
            /* When the user clicks on the button,
            toggle between hiding and showing the dropdown content */
            function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
            }
            
            function filterFunction() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            div = document.getElementById("myDropdown");
            a = div.getElementsByTagName("a");
            for (i = 0; i < a.length; i++) {
                txtValue = a[i].textContent || a[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
                } else {
                a[i].style.display = "none";
                }
            }
            }
        </script>
        
        <h4>Instrucoes:</h4>

        <div class="dropdown">
            - <button onclick="myFunction()" class="dropbtn">Racas</button> Escolha seu <strong>Petitito</strong> clicando diretamente na raca desejada neste menu;
            <div id="myDropdown" class="dropdown-content">
                <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                <a href="#about">Shih-Tzu</a>
                <a href="#base">Pastor Alemao</a>
                <a href="#blog">Doberman</a>
                <a href="#contact">Beagle</a>
                <a href="#custom">A</a>
                <a href="#support">B</a>
                <a href="#tools">C</a>
            </div>
        </div>
        
        <form action="/" method="POST">
            <label for="title">- ou entao, filtre pelas caracteristicas que sao mais importantes para voce:</label>
            <input type="text" name="title" id="title">
            <input type="submit" value="Encontrar" />
        </form>
        
        - por fim, para encerrar o app, role ate o rodape da pagina e clique 'Sair'.

        <p><button><a href="/reset">Limpar escolhas / Exibir todas</a></button></p>
        
        <br>
        <br>

        <table style="border: 1px solid black">
            <tr>
                <th>Raca</th>
                <th>Caracteristicas</th>
            </tr>
    
            {% for todo in todos %}
            <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.title }}</td>
                <td>{{ todo.status }}</td>
                <td><a href={{ url_for('edit_todo', id=todo.id )}}>Editar Atividade</td>
            </tr>
            {% endfor %}
        </table>
    </body>
    
    <footer>
        <br>
        <br>
        <button type="button"><a href='/shut_down'>Sair</a></button> Autor: <a href="https://datadrivenmanagement.wordpress.com/">Rene Santos</a>
        <h6>Todos os padroes de raca exibidos nesse app sao divulgados publicamente pela <a href="https://cbkc.org/racas">Confederação Brasileira de Cinofilia (CBKC)</a>, em seu web-site.</h6>
    </footer>
</html>